/* font-family: 'Oswald', sans-serif; => Heading and Naviagtion
font-family: 'Kulim Park', sans-serif; => Text */

/* **************** */
/* General settings */
/* **************** */
html,
body {
  margin: 0;
  padding: 0;
}

/* ********** */
/* NAVIGATION */
/* ********** */
.navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 60px;
  background: #fff;
  box-shadow: 0 1px 3px #999;
  z-index: 100;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: 100;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.menu li:hover {
	border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
}

.contact-me {
  width: 130px;
  padding: 8px 25px;
  color: #fff;
  font-size: 14px;
  font-family: "Kulim Park", sans-serif;
  border: none;
  border-radius: 20px;
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  outline: none;
}

.contact-me:hover {
  box-shadow: -1px 0 2px #999;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background: #667db6;
  transition:  all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .navigation-bar {
    padding: 5px 20px;
  }

  .menu {
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 100vh;
    background: #fff;
    box-shadow: 0 1px 3px #999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .menu li {
    text-align: center;
    opacity: 0;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .menu-active {
    transform: translateX(0%);
  }

  @keyframes menuItemFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line-1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line-2 {
    opacity: 0;
  }

  .toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* ************************* */
/* WELCOME SCREEN & CAROUSEL */
/* ************************* */
.carousel-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.carousel-container .carousel-slides {
  display: flex;
  width: 100%;
  height: 100vh;
}

.carousel-container .carousel-slides img {
  width: 100%;
}

.carousel-buttons {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.carousel-buttons .left {
  width: 60px;
  height: 100vh;
  background: rgb(171, 171, 171);
  background: linear-gradient(
    90deg,
    rgba(171, 171, 171, 0.80015756302521) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel-buttons .next {
  width: 70px;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(171, 171, 171, 0.80015756302521) 100%
  );
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* ************* */
/* SCROLL TO TOP */
/* ************* */
.scroll-top {
  position: fixed;
  right: 60px;
  bottom: 30px;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  border: none;
  box-shadow: 0 1px 3px #999;
  cursor: pointer;
  outline: none;
}

/* ************* */
/* MODAL FEATURE */
/* ************* */
.modal-bg {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  transition: visibility 0s, opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}

.modal-bg-appear {
  visibility: visible;
  opacity: 1;
}

.modal-bg .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 20px 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 2px 5px #555;
}

.modal-bg .modal .modal-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-bottom: 1px solid #999;
}

.modal-bg .modal .modal-header h3 {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.modal-bg .modal .modal-header p {
  margin: 10px 0;
  font-family: "Kulim Park", sans-serif;
}

.modal-bg .modal .modal-header .close-modal {
  position: absolute;
  right: 0px;
  color: sandybrown;
  cursor: pointer;
}

.modal-bg .modal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.modal-bg .modal .modal-body input {
  width: 60%;
  height: 15px;
  margin: 5px 0;
  padding: 5px 15px;
  border: 1px solid #999;
  border-radius: 20px;
  font-family: "Kulim Park", sans-serif;
  outline: none;
}

.modal-footer button {
  width: 150px;
  padding: 8px 25px;
  color: #fff;
  font-size: 14px;
  font-family: "Kulim Park", sans-serif;
  border: none;
  border-radius: 20px;
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  outline: none;
}

.modal-footer button:hover {
  box-shadow: -1px 0 2px #999;
}

/* ************* */
/* ABOUT SECTION */
/* ************* */
.about-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: sandybrown;
}

.about-container .left-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container .left-box button {
  width: 130px;
  height: 35px;
  font-size: 16px;
  color: white;
  background: cornflowerblue;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #999;
  cursor: pointer;
  outline: none;
}

.about-container .left-box h1 {
  margin-left: 20px;
  color: white;
  font-family: "Oswald", sans-serif;
}

/* Feature for animate text */
.about-container .right-box {
  flex: 1;
  padding-right: 100px;
}

/* New class that will be added on top of class above */
/* Check JavaScript part */
.text-content {
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.text-content-appear {
  opacity: 1;
  transform: translateY(0px);
}

.about-container .right-box h1 {
  margin: 0;
  color: #fff;
  font-weight: 100;
  font-family: "Oswald", sans-serif;
}

.about-container .right-box p {
  margin: 0;
  color: #fff;
  font-family: "Kulim Park", sans-serif;
}

/* *************** */
/* Service section */
/* *************** */
.service-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0;
}

.service-container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.service-card-box {
  position: relative;
  width: 230px;
  height: 300px;
}

.service-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.service-card:hover {
  transform: rotateY(180deg);
}

.service-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #0082c8;
  backface-visibility: hidden;
}

.service-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  color: red;
  background: #667db6;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* *************** */
/* Gallery section */
/* *************** */
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.gallery-container h1 {
  font-weight: 100;
  font-family: "Oswald", sans-serif;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.gallery-box {
  position: relative;
  width: 650px;
  height: 400px;
  margin-top: 60px;
}

.gallery-box img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 3px #999;
  cursor: pointer;
}

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.transition-image:hover {
  opacity: 1;
}

/* second image */
.fade::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  content: 'View more details';
  color: white;
  font-size: 22px;
  background: black;
}

.fade:hover::after {
  opacity: 0.5;
}